@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white min-h-screen select-none;
}

/* This ensures that the gradient never overscrolls. Tip from: https://stackoverflow.com/a/78145994/2303432 */
html:before {
  @apply bg-gradient-to-tr from-secondary via-secondary to-tertiary fixed inset-0 -z-10;
  content: '';
}

* {
  @apply outline-none outline-offset-0;
  transition:
    outline-width 0.25s,
    outline-color 0.25s;
}

:focus {
  @apply outline-4 outline-primary;
}

button {
  @apply bg-primary text-white font-bold py-2 px-4 rounded hover:brightness-90 transition-all;
}

button.icon {
  @apply p-3;
}

input {
  @apply appearance-none border border-slate-700 rounded w-full py-2 px-3 bg-slate-800 text-gray-200 leading-tight;
}
